[submodule "distribution"]
	path = distribution
	url = ../../CellProfiler/distribution.git
	branch = 4.2.x
[submodule "cp"]
	path = cp
	url = ../../CellProfiler/CellProfiler.git
	branch = 4.2.x
[submodule "core"]
	path = core
	url = ../../CellProfiler/core.git
	branch = 4.2.x
[submodule "python-javabridge"]
	path = python-javabridge
	url = ../../CellProfiler/python-javabridge.git
[submodule "python-bioformats"]
	path = python-bioformats
	url = ../../CellProfiler/python-bioformats.git
[submodule "centrosome"]
	path = centrosome
	url = ../../CellProfiler/centrosome.git
