[workspace]
name = "CellProfiler42x"
version = "4.2.8"
description = "Dev environment for CP42x"
authors = ["Nodar Gogoberidze <gnodar01@gmail.com>"]
channels = ["conda-forge"]
#platforms = ["osx-64"]
# on windows, in git bash: bash --rcfile <(pixi shell-hook -e dev | sed 's/^export Path=/export PATH=/' | tr ';' ':')
#platforms = ["win-64", "osx-64"]
# platforms = ["win-64", "osx-64", "linux-64"]
# platforms = ["osx-64", "osx-arm64"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[feature.mod.tasks]
cpwd = { cmd = ["python", "-Wd", "-m", "cellprofiler"] }
cp = { cmd = ["python", "-m", "cellprofiler", "-L", "10"] }

[feature.mod.target.osx.tasks]
cpwd = { cmd = ["$CONDA_PREFIX/pythonapp/Contents/MacOS/python", "-Wd", "-m", "cellprofiler"], env = { PYTHONEXECUTABLE = "$CONDA_PREFIX/bin/python" } }
cp = { cmd = ["$CONDA_PREFIX/pythonapp/Contents/MacOS/python", "-m", "cellprofiler"], env = { PYTHONEXECUTABLE = "$CONDA_PREFIX/bin/python" } }

[feature.mysql.tasks]
# configure the database - should be run only once, on enviroment creation
cfg-db = "$PIXI_PROJECT_ROOT/scripts/mysql_test.sh config"
# run just the exporttodatabase tests
dbtest = "$PIXI_PROJECT_ROOT/scripts/mysql_test.sh run"
# run all tests, pass in args if you want them to pass through
tests = "$PIXI_PROJECT_ROOT/scripts/mysql_test.sh run-all"

[feature.mysql.target.osx.activation]
# https://github.com/PyMySQL/mysqlclient/issues/496#issuecomment-1614688099
env = { MYSQLCLIENT_CFLAGS = "-I$CONDA_PREFIX/include/mysql", MYSQLCLIENT_LDFLAGS = "-L$CONDA_PREFIX/lib -lmysqlclient -rpath $CONDA_PREFIX/lib" }

[feature.mysql.target.linux-64.activation]
env = { MYSQLCLIENT_CFLAGS = "-I$CONDA_PREFIX/include/mysql", MYSQLCLIENT_LDFLAGS = "-L$CONDA_PREFIX/lib" }

# usage of `%` or `$` and `\\` or `/` will depend on if using e.g. cmd.exe or git bash or ...
[feature.java.target.win-64.activation]
env = { JAVA_HOME = "%CONDA_PREFIX%\\Library\\lib\\jvm", JDK_HOME = "%CONDA_PREFIX%\\Library\\lib\\jvm" }
#env = { JAVA_HOME = "$PIXI_PROJECT_ROOT/.pixi/envs/dev/Library/lib/jvm", JDK_HOME = "$PIXI_PROJECT_ROOT/.pixi/envs/dev/Library/lib/jvm" }
#env = { JAVA_HOME = "$PIXI_PROJECT_ROOT\\.pixi\\envs\\dev\\Library\\lib\\jvm", JDK_HOME = "$PIXI_PROJECT_ROOT\\.pixi\\envs\\dev\\Library\\lib\\jvm" }

[feature.java.activation]
env = { JAVA_HOME = "$CONDA_PREFIX/lib/jvm", JDK_HOME = "$CONDA_PREFIX/lib/jvm" }

[pypi-dependencies]

[dependencies]
matplotlib = ">=3.1.3,<3.8"
pywavelets = "<1.6"
boto3 = ">=1.12.28,<1.16.63"
setuptools = "64.*"
tifffile = "<2022.4.22"
scipy = "==1.9.0"
#numpy = "==1.21.6"
numpy = ">=1.20.1,<1.25.0"
contourpy = "==1.1.1"
"scikit-image" = "==0.18.3"
"scikit-learn" = ">=0.20,<1"


[target.win-64.dependencies]
python = "3.8.*"

[target.unix.dependencies]
python = "3.9.*"

[target.osx.dependencies]
"python.app" = ">=1.4,<2"

[target.osx-arm64.pypi-dependencies]
wxPython = "==4.2.1"


# enable this to avoid building wxPython wheel on Linux
# disable to build wheel from scratch
# url must be changed to match linux distro: https://extras.wxpython.org/wxPython4/extras/linux/gtk3/
[target.linux-64.pypi-dependencies]
wxPython = { url = "https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-24.04/wxPython-4.2.2-cp39-cp39-linux_x86_64.whl" }

[feature.mysql.target.osx.dependencies]
wheel = ">=0.45.0, <0.46"
mysql = "=8.0"

[feature.mysql.pypi-options]
no-build-isolation = ["mysqlclient"]

[feature.mysql.target.linux-64.dependencies]
mysql = "8.0.*"

[feature.java.dependencies]
openjdk = "11.*"
maven = ">=3.9.9,<4"

[feature.mod.pypi-dependencies]
# python-javabridge = { path = "./python-javabridge", editable = true }
# python-bioformats = { path = "./python-bioformats", editable = true }
# centrosome = { path = "./centrosome", editable = true }
# cellprofiler-release = { path = "./release", editable = true }
cellprofiler-core = { path = "./core", extras = ["test", "dev"], editable = true }
cellprofiler = { path = "./cp", extras = ["test", "build", "docs"], editable = true }
build = ">=1.2.2, <2"

[feature.publish-onlywheels.pypi-options]
dependency-overrides = { mysqlclient = "==2.0.3" }

[feature.publish-onlywheels.target.unix.dependencies]
mysqlclient = "==2.0.3"

[feature.publish.pypi-dependencies]
setuptools = "*"
wheel = "*"
cellprofiler-core = { path = "./core", editable = false }
cellprofiler = { path = "./cp", editable = false }

[environments]
dev = ["mysql", "java", "mod"]
prod = ["publish", "java"]
prod-onlywheels = ["publish", "publish-onlywheels", "java"]
prod-onlywheels-test = ["mod", "publish-onlywheels", "java", "mysql"]
