name: Create CellProfiler Flatpak
jobs:
  pack-env:
    name: Pack Environment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: true
      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.62.2
          #cache: true
          #cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          #locked: true
          #environments: prod-onlywheels
          run-install: false
          global-environments: pixi-pack
      - name: Pack Environment
        run: |
          pixi-pack --environment prod-onlywheels --platform linux-64 --use-cache .pixi_pack/cache --ignore-pypi-non-wheel --create-executable pixi.toml
      - run: |
          pwd
          ls -al .
          chmod +x environment.sh
      - name: Create Actions Artifact
        uses: actions/upload-artifact@v6
        with:
          name: environment.zip
          path: environment.sh
          overwrite: true

  upload-cp:
    name: Upload Environment
    needs: pack-env
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: true
      - name: Download Actions Artifact
        uses: actions/download-artifact@v8
        with:
          name: environment.zip
          path: ./
      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: true
          fail_on_unmatched_files: true
          name: v4.2.8.1
          files: |
            environment.sh
      - name: Display Upload Info
        run: |
          echo "url: ${{ steps.upload-artifacts.outputs.url }}"
          echo "release id: ${{ steps.upload-artifacts.outputs.id }}"
          echo "upload_url: ${{ steps.upload-artifacts.outputs.upload_url }}"
          echo "assets: ${{ steps.upload-artifacts.outputs.assets }}"
      - name: Delete Action Artifacts
        # artifacts attached to the action no longer necessary
        # since they have been uploaded to releases
        id: delete-artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
            name: |
              environment.zip

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
